* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #1e1f24;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    width: 100%;
    height: 50px;
    
    padding: 0.5em;
    bottom: 0;
    font-size: 13px;
    background: #777;
    color: white;
    border-top: 1px solid #e4e4e4;

    /* position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;*/
}

header {
    padding: 0 10px;
    color: white;
}

main .container {
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #33a;
    background: white;
}

header .cabecera {
    background: #37488b;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0 0.5em;
}

header .cabecera #logo {
    width: 20px;
    vertical-align: middle;
}

header .cabecera span {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}